footer {
  background-color: $footer-background-color;
  color: $secondary-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 29px;

  .logo {
    background-color: $secondary-text-color;
    width: 122px;
    height: 40px;
    flex: none;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 29px;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    padding-top: 62px;
    padding-bottom: 62px;

    p {
      font-size: 12px;
    }
  }
}
