header {
  @include sized(100px);
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    flex: none;
  }

  ul {
    display: flex;
    gap: 60px;
  }

  li {
    font-size: 24px;
    font-weight: 500;
  }

  a.active,
  a:hover {
    text-decoration: underline;
  }

  @include for-mobile {
    @include sized(20px);

    margin-top: 20px;

    .logo {
      width: 145px;
      height: 47px;
    }

    ul {
      gap: 12px;
    }

    li {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
