header {
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
  }

  & .logo {
    background-color: $primary-text-color;
    width: 211px;
    height: 68px;
    flex: none;
  }

  & ul {
    display: flex;
  }

  & li {
    font-size: 24px;
    font-weight: 500;
    margin-left: 60px;
  }

  & a.active,
  & a:hover {
    text-decoration: underline;
  }

  @media screen and (width <= map-get($breakpoints,'mobile')) {
    & .container {
      padding: 20px 20px 0 20px;
    }

    & .logo {
      width: 145px;
      height: 47px;
    }

    & li {
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 12px;
    }
  }
}
