header {
  @include sized(100px);
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    background-color: $primary-text-color;
    width: 211px;
    height: 68px;
    flex: none;
  }

  ul {
    display: flex;
  }

  li {
    font-size: 24px;
    font-weight: 500;
    margin-left: 60px;
  }

  a.active,
  a:hover {
    text-decoration: underline;
  }

  @media screen and (width <= map-get($breakpoints,'mobile')) {
    @include sized(20px);
    margin-top: 20px;

    .logo {
      width: 145px;
      height: 47px;
    }

    li {
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 12px;
    }
  }
}
