main.home {
  @include sized(100px);
  margin-top: 63px;
  margin-bottom: 63px;

  .cardset {
    margin-top: 43px;
    background-color: $tertiary-color;
    border-radius: 25px;
    padding: 56px 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 50px;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    @include sized(20px);
    margin-top: 16px;
    margin-bottom: 16px;

    .cardset {
      margin-top: 22px;
      padding: 0;
      column-gap: 20px;
      row-gap: 20px;
      background-color: unset;
    }
  }
}
