.collapse {
  .title-box {
    height: 47px;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
  }

  .title {
    color: $secondary-color;
    font-size: 24px;
    font-weight: 500;
    flex: 1 0 auto;
  }

  .chevron {
    mask-image: url('../../assets/chevron.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $secondary-color;
    width: 24px;
    height: 24px;
    flex: none;
    transform: rotateX(180deg);
    transition: transform 0.3s ease-out;
  }

  .content-box {
    position: relative;
    z-index: -1;
    background-color: $tertiary-color;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    font-size: 24px;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-out;
  }

  .content {
    padding: 32px 18px 18px 18px;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    .title-box {
      height: 30px;
      padding-left: 12px;
      padding-right: 12px;
    }

    .title {
      font-size: 13px;
    }

    .chevron {
      width: 15px;
      height: 15px;
    }

    .content-box {
      font-size: 12px;
    }

    .content {
      padding: 23px 12px 12px 12px;
    }
  }
}
