@import '../../styles/abstracts/abstracts';

.default {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    height: 25px;
    flex: 0 0 115px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    white-space: nowrap;
    color: $secondary-color;
    background-color: $primary-color;

    @include for-mobile {
      height: 18px;
      flex: 0 0 85px;
      font-size: 10px;
    }
  }
}
