// Mixins Sass

/// Limitation de largeur du contenu et centrage automatique
/// @param {Length} $padding [0px] emplissage gauche et droit
@mixin sized($padding: 0px) {
  max-width: map-get($breakpoints, 'max');
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}

/// Conteneur flex et centrage des éléments flex
/// @param {Boolean} $justify-content [true] - éléments centrés sur l'axe principal
/// @param {Boolean} $align-items [true] - éléments centrés sur l'axe secondaire
// @mixin flex-center($justify-content: true, $align-items: true) {
//   display: flex;

//   @if $justify-content {
//     justify-content: center;
//   }

//   @if $align-items {
//     align-items: center;
//   }
// }
