main.about {
  @include sized(100px);
  margin-top: 44px;

  .banner {
    height: 223px;
  }

  .collapse {
    font-size: 24px;
    width: 82.5%;
    margin: 31px auto;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    @include sized(20px);
    margin-top: 17px;

    .collapse {
      width: 100%;
      margin: 20px auto;
    }
  }
}
