main.home {
  @include sized(100px);
  margin: 63px auto;

  .banner {
    height: 223px;
    color: $secondary-color;
  }

  .cardset {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 60px;
    margin-top: 43px;
    background-color: $tertiary-color;
    border-radius: 25px;
    padding: 56px 50px;
  }

  .card {
    color: $secondary-color;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    @include sized(20px);
    margin: 16px auto;

    .banner {
      height: 111px;
    }

    .cardset {
      margin-top: 22px;
      padding: 0;
      gap: 20px;
      background-color: unset;
    }
  }
}
