main.rental {
  @include sized(100px);

  .content-header {
    display: flex;
    justify-content: space-between;
  }

  .content-location {
    width: 100%;
    flex: 1 1 auto;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
  }
  .location {
    font-weight: 500;
  }

  .tags {
    margin-top: 20px;
  }

  .content-host {
    flex: 1 1 auto;
  }

  .host {
    display: flex;

    img {
      border-radius: 50%;
    }
  }

  .rating {
  }

  .content-details {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    column-gap: 76px;
  }

  .collapse {
    --label-height: 52px;
    width: 100%;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    @include sized(20px);

    .content-details {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
