@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.default {
  @include sized(100px);

  .slideshow {
    margin-top: 20px;
    height: 415px;
  }

  .overview {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  .property {
    flex: auto;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
  }
  .location {
    font-weight: 500;
  }

  .tags {
    margin-top: 20px;
  }

  .services {
    margin-top: -6px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 24px;
    flex: none;
  }

  .rating {
    font-size: 30px;
  }

  .details {
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    column-gap: 76px;
  }

  .collapse {
    --label-height: 52px;
    margin-bottom: 5px;
    width: 50%;
  }

  @include for-mobile {
    @include sized(20px);

    .slideshow {
      height: 255px;
    }

    .overview {
      margin-top: 15px;
      flex-direction: column;
    }

    .title {
      font-size: 18px;
    }

    .location {
      font-size: 14px;
      margin-top: 5px;
    }

    .tags {
      margin-top: 10px;
    }

    .services {
      margin-top: 16px;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .rating {
      font-size: 15px;
    }
    .details {
      margin-top: 16px;
      margin-bottom: 20px;
      flex-direction: column;
      row-gap: 20px;
    }

    .collapse {
      width: auto;
    }
  }
}
