@import '../styles/abstracts/abstracts';

.default {
  @include sized(100px);
  width: 100%;
  margin: 30px auto;
  font-weight: 500;
}

.slideshow {
  height: 415px;
}

.overview {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin: 30px 0;
}

.property {
  flex: auto;
}

.title {
  font-size: 36px;
}

.location {
  margin: 5px 0 15px;
}

.services {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 20px;
  flex: none;
  margin-top: -6px;
}

.details {
  display: flex;
  column-gap: 75px;
  font-weight: 400;
}

.collapse {
  width: 50%;
  --label-height: 50px;
  margin-bottom: 5px;
}

@include for-tablet {
  .default {
    @include sized(40px);
  }

  .details {
    column-gap: 40px;
  }
}

@include for-mobile {
  .default {
    @include sized(20px);
    margin-bottom: 20px;
  }

  .slideshow {
    height: 255px;
  }

  .overview {
    flex-direction: column;
    margin: 15px 0;
  }

  .title {
    font-size: 18px;
  }

  .location {
    margin: 5px 0 10px;
    font-size: 14px;
  }

  .services {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  .details {
    flex-direction: column;
    row-gap: 20px;
  }

  .collapse {
    width: auto;
  }
}

@include for-narrow {
  .slideshow {
    height: 200px;
  }
}
