@import '../styles/abstracts/variables';

.default {
  .title {
    height: 2.375em;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 5px;
    padding: 0 1em;
    cursor: pointer;
  }

  .label {
    font-weight: 500;
    flex: 1 0 auto;
  }

  .chevron {
    width: 1em;
    height: 1em;
    flex: none;
    transition: transform 0.3s ease-in-out;
  }

  .collapse {
    position: relative;
    z-index: -1;
    background-color: $tertiary-color;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }

  .content {
    padding: 1em;
    padding-top: calc(1em + 5px);
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    .title {
      height: 30px !important; // C'est moche... Mais comment écraser autrement la prop titleHeight ?
      font-size: 13px;
    }

    .collapse {
      font-size: 12px;
    }
  }
}
