@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.default {
  --label-height: 2.3em;

  .button {
    position: relative;
    z-index: 1;
    height: var(--label-height);
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 5px;
    padding: 0 1em;
    cursor: pointer;
  }

  .label {
    font-weight: 500;
    flex: 1 0 auto;
  }

  .chevron {
    flex: none;
    transition: transform 280ms ease-in-out;
  }

  .collapse {
    position: relative;
    background-color: $tertiary-color;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: height 280ms ease-in-out;
  }

  .content {
    padding: 1em;
    padding-top: calc(1em + 5px);
  }

  @include for-mobile {
    .button {
      height: 30px;
      font-size: 13px;
    }

    .collapse {
      font-size: 12px;
    }
  }
}
