@import '../styles/abstracts/abstracts';

.default {
  --label-height: 2.3em;
}

.button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: var(--label-height);
  padding: 0 1em;
  border-radius: 5px;
  color: $secondary-color;
  background-color: $primary-color;
  cursor: pointer;
}

.label {
  flex: 1 0 auto;
  font-weight: 500;
}

.chevron {
  flex: none;
  transition: transform 280ms ease-in-out;
}

.collapsible {
  position: relative;
  margin-top: -5px;
  transition: height 280ms ease-in-out;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background-color: $tertiary-color;
}

.content {
  padding: 1em;
  padding-top: calc(1em + 5px);
}

@include for-mobile {
  .button {
    height: 30px;
    font-size: 13px;
  }

  .collapsible {
    font-size: 12px;
  }
}
