@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.default {
  display: flex;
  column-gap: 10px;

  .star {
    width: 1em;
    height: 1em;
  }

  @include for-mobile {
    column-gap: 5px;
  }
}
