@import '../styles/abstracts/variables';

.default {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    white-space: nowrap;
    flex: 0 0 115px;
  }

  @media screen and (width <= map-get($breakpoints, 'mobile')) {
    li {
      flex: 0 0 84px;
      height: 18px;
      font-size: 10px;
    }
  }
}
