@import '../../styles/abstracts/abstracts';

.default {
  @include sized(100px);
  width: 100%;
  margin: 160px auto;
  font-weight: 500;
  text-align: center;

  div {
    font-size: 288px;
    font-weight: 700;
  }

  p {
    margin-top: 60px;
    margin-bottom: 180px;
    font-size: 36px;
  }

  a {
    text-decoration: underline;
  }

  @include for-mobile {
    @include sized(20px);

    div {
      font-size: 96px;
    }

    p {
      margin-top: 12px;
      margin-bottom: 120px;
      font-size: 18px;
    }

    a {
      font-size: 14px;
    }
  }
}
