/*
** Styles de base
*/

// Modèle de boîte
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Suppression des marges des éléments
body,
figure,
p,
ol,
ul {
  margin: 0;
}

// Listes sans puces, ni numérotation, ni retrait
ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

// Ancres
a {
  color: $primary-text-color;
  text-decoration: none;
}

// Corps de la page : couleurs par défaut et largeur minimale
body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  min-width: map-get($breakpoints, 'min');
}
