/*
** Basic styles
*/

// Box model
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Removing element margins
body,
figure,
h1,
p,
ol,
ul {
  margin: 0;
}

// Lists without bullets, numbering or indentation
ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

// Anchors
a {
  color: currentcolor;
  text-decoration: none;

  &:hover,
  &.active {
    text-decoration: underline;
  }
}

// Page body: default colors and minimum width
body {
  background-color: $secondary-color;
  color: $primary-color;
  min-width: map-get($breakpoints, 'min');
}
