@import '../styles/abstracts/abstracts';

.default {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 30px;
  font-size: 24px;
  font-weight: 500;
  color: $secondary-color;
  background-color: black;

  p {
    margin-top: 30px;
  }

  @include for-tablet {
    font-size: 18px;
  }

  @include for-mobile {
    padding: 60px 0;
    font-size: 12px;
  }
}

.logo {
  width: 122px;
  height: 40px;
  flex: none;
}
