@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.default {
  color: $secondary-color;
  background-color: $quaternary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 29px;

  .logo {
    width: 122px;
    height: 40px;
    flex: none;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 29px;
  }

  @include for-mobile {
    @include sized(20px);
    padding-top: 62px;
    padding-bottom: 62px;

    p {
      font-size: 12px;
    }
  }
}
