@import '../styles/abstracts/abstracts';

.default {
  @include sized(100px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;

  ul {
    display: flex;
    gap: 60px;
  }
}

.logo {
  flex: none;
}

@include for-tablet {
  .default {
    @include sized(40px);
  }
}

@include for-mobile {
  .default {
    @include sized(20px);
    margin-top: 20px;
    font-size: 12px;
    text-transform: uppercase;

    ul {
      gap: 12px;
    }
  }

  .logo {
    width: 145px;
    height: 47px;
  }
}

@include for-narrow {
  .default {
    @include sized(10px);

    ul {
      flex-direction: column;
      text-align: right;
      gap: 6px;
    }
  }

  .logo {
    width: 105px;
    height: 34px;
  }
}
